<table [ngClass]="[wonMatch ? 'won-card' : 'lost-card']">
    <tr>
        <td>
            <span class="vs">vs</span>
            <h1><a href="/teams/{{ otherTeam }}">{{ otherTeam }}</a></h1>
            <h2 class="match-date">{{ match.date }}</h2>
            <h3 class="match-venue">at {{ match.venue }}</h3>
            <h3 class="match-result">{{ match.matchWinner }} won by {{ resultMargin }} {{ winBy }}</h3>
        </td>
        <td class="additional-details">
            <h3>First Innings</h3>
            <p>{{ match.team1 }}</p>
            <h3>Second Innings</h3>
            <p>{{ match.team2 }}</p>
            <h3>Man of the match</h3>
            <p>{{ match.playerOfMatch }}</p>
        </td>
    </tr>
</table>