<mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
        <div class="team-name-section">
            <h1 class="team-name">{{ team.teamName }}</h1>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
        <div class="wins-loss-section">Wins / Losses</div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <div>
            <h2>Latest Matches</h2>
            <app-match-detail-card class="match-detail-section" [match]="team.matches[0]" [teamName]="team.teamName"></app-match-detail-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let _match of oneSlicedTeamMatches">
        <div>
            <app-match-small-card [match]="_match" [teamName]="team.teamName"></app-match-small-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>